.messageList
  .messageList__info
    .messageList__info--name
      = message.user.name
    .messageList__info--timestamp
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .messageList__text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?