* {
  box-sizing: border-box;
}

.chat-main {
  height:100vh;
  width:calc(100vw - 300px);
  float:right;
  position: relative;
  background-color:red;
  &__group-info {
    background-color:#ffffff;
    height:100px;
    width:calc(100vw - 300px);
    border-bottom:1px solid #eeeeee;
    position: absolute;
  }
  &__message-list {
    background-color:#fafafa;
    height:100vh;
    width:calc(100vw - 300px);
    margin-top:100px;
    padding-bottom:90px;
    position:absolute;
  }
  &__message-form {
    background-color:#d2d2d2;
    height:90px;
    width:calc(100vw - 300px);
    bottom:0;
    position:absolute;
  }
}