.side-bar {
  height:100VH;
  width:300px;
  position: absolute;
  &__user-name {
    background-color:#253141;
    height:100px;
    width:300px;
    position: absolute;
  }
  &__group-list {
    background-color:#2f3e51;
    margin-top:100px;
    height:100vh;
    width:300px;
    position:absolute

  }
}