// * {
//   box-sizing: border-box;
// }

.side-bar {
  height:100VH;
  width:300px;
  position: relative;
  float:left;
  z-index:1;
  position: fixed;
  &__user-name {
    background-color:#253141;
    height:100px;
    width:300px;
    position: absolute;
    display: flex;
    align-items:center;
    .top-items {
      height:20px;
      width:260px;
      margin:0 20px;
      display: flex;
      justify-content:space-between;

      &__name {
        color:$chatWhite;
        font-weight:bold;
      }
      &__icons {
        width:60px;
        height:20px;
        display: flex;
        justify-content:flex-end;
        .edit-icon{
          margin-left:5px;
          color:$chatWhite;
        }
        .config-icon{
          margin-left:5px;
          color:$chatWhite;
        }
      }
    }
  }
  &__group-list {
    background-color:#2f3e51;
    margin-top:100px;
    height:calc(100vh - 100px);
    width:300px;
    // position:absolute;
    .side-bar__group {
      position: relative;
      width:300px;
      height:80px;
      margin-top:100px;
      .group__name {
        height:15px;
        width: 200px;
        font-size:15px;
        color:$chatWhite;
        margin:20px 20px 5px 20px;
        font-weight:bold;
        position: absolute;
      }
      .group__message {
        height:11px;
        width:200px;
        font-size:11px;
        color:$chatWhite;
        margin:40px 20px 29px 20px;
        font-weight:bold;
        position: absolute;
      }
    }
  }
  
}